<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de contact</title>
</head>
<body>
    <h1>Demande de contacte </h1>
    <h3>M et Mme{{ contact.nom }} on demander des infos</h3>
    <p>{{ contact.message }}</p>
    <p>Pour le contacter par email: {{ contact.email }} ou alors par telephone {{ contact.telephone }} </p>
</body>
</html>